{% from "macros.twig" import button %}

{% extends "layout.twig" %}

{% block content %}
<div class="mt-2 d-flex row">
    {% for object in characters %}
    <div class="card m-2 col-auto position-relative" style="width: 15rem;">
        <div class="position-absolute" style="right: 4px; top: 4px">
            <form action="/character/{{object.id}}/delete" method="POST">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-times"></i>
                </button>
            </form>
        </div>
        <img class="card-img-top p-3 pb-0" src="{{ object.image }}" alt="" height="170">
        <div class="card-body">
            {{ button(object.title, "/character/#{object.id}", true, "primary w-100") }}
            <div class="d-flex justify-content-center">
                {{ button("Картинка", "/character/#{object.id}?show=image") }}
                {{ button("Описание", "/character/#{object.id}?show=info") }}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}